*,
*:before,
*:after {
  box-sizing: border-box;
  content: "";
  margin: 0;
  padding: 0;
  outline: none;
  margin: none;
  text-decoration: none;
}

html,
body,
#app,
#dashboard {
  width: 100%;
  height: 100%;
}

#app {
  font-family: Helvetica, Arial, sans-serif;
  background: white;
}

#app .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(231, 231, 231);
  padding: 20px;
  box-shadow: 0 4px 8px #00000030;
  font-size: 1.1rem;
}
#app .menu a {
  display: block;
  color: grey;
}

#app .menu a.active {
  color: black;
}
#app .menu a:hover {
  color: blue;
}

#app .content {
  padding: 30px;
  height: 100%;
}

.rTable {
  display: table;
  width: 100%;
}
.rTableRow {
  display: table-row;
}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
}
.rTableCell,
.rTableHead {
  display: table-cell;
  padding: 3px 10px;
  border: 1px solid #999999;
}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
  font-weight: bold;
}
.rTableFoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}
.rTableBody {
  display: table-row-group;
}
